# fly.toml app configuration file generated for weather-app-sh4-vw on 2026-01-17T04:23:47Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'weather-app-sh4-vw'
primary_region = 'iad'
console_command = '/rails/bin/rails console'

[build]

[[mounts]]
  source = 'data'
  destination = '/data'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
