.sidebar {
    background-color: var(--cr-secondary);
    max-width: 22%;
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .loc-form {
        padding: 15px;
        margin-bottom: 15px;
    }
    
    h1 {
        text-align: center;
        padding: 15px;
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        align-items: center;
    }
    .form div {
        width: 100%;
    }
    input[type="text"] {
        background-color: rgba(255, 255, 255, 0.1);
        border: none;
        color: var(--cr-text-primary);
        padding: 10px;
        width: 100%;
        font-size: 12px;
        border-radius: 8px;
        box-sizing: border-box;
    }
    input[type="submit"] {
        border: none;
        background-color: var(--cr-accent);
        padding: 10px;
        width: 100%;
        font-size: 12px;
        border-radius: 8px;
        box-sizing: border-box;
    }
}


.loc-card {
    transition: transform 0.3s ease-in-out;
    padding: 8px;
    .loc-long, .loc-lat {
        font-size: 12px;
    }
    .delete-button {
        display: flex;
        justify-content: flex-end;
    }
    button {
        background-color: inherit;
        border: none;
        text-decoration: underline;
        color: var(--cr-accent);
    }
}

.loc-card:hover {
    background-color: rgba(255, 255, 255, 0.1);
}