.sidebar {
    background-color: var(--cr-secondary);
    max-width: 22%;
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}

.loc-card {
    border: 2px solid var(--cr-border);
    margin-bottom: 15px;
}

.loc-form {
    margin-bottom: 15px;
}